.about{
    text-align: center;
    display: flex;
}
.aboutContent{
    width: 80vw;
    display: block;
    margin: auto;
}
.aboutContent p{
    color: #565656;
    margin-bottom: 50px;
}
.aboutContent h1{
    padding-bottom: 20px;
    border-bottom: solid #666235 5px;
    color: #666235;
    width: 40%;
    margin: 0 auto 50px auto;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .about{
        min-height: 75vh;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .about{
        min-height: 83vh;
    }
}
/*		 	Mobile				 */
@media screen and (max-width: 40em){

}