.contact{
    display: flex;
    margin: auto;
}
.contactContent{
    margin: auto;
}
.contactForm{
    width: 40vw;
    margin: auto;
    text-align: center;
    border: #666235 solid 3px;
    border-radius: 10px;
    background-color: #e1e9eb;
}
fieldset{
    border: none;
}
input, textarea{
    width: 100%;
    min-height: 2vh;
}
textarea{
    min-height: 10vh;
}
.submit{
    width: 30%;
    margin-bottom: 10px;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .contact{
        min-height: 76vh;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .contact{
        min-height: 82vh;
    }
}