.footer {
    background-color: #836D54;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
}
.socialText{
    grid-area: text;
    text-align: center;
    font-size: 1vw;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.twitter{
    grid-area: twitter;
}
.facebook{
    grid-area: facebook;
}
.youtube{
    grid-area: youtube;
}
.instagram{
    grid-area: instagram;
}
.icon{
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*width: 50%;*/
}
.icon:hover{
    transform: scale(1.2, 1.2);
}

/*		 		Fullscreen			 */
@media screen and (min-width: 59em) {
    .footer{
        height: 9vh;
    }
    .socials{
        display: grid;
        grid-template-columns: 42.5vw 3vw 1vw 3vw 1vw 3vw 1vw 3vw 42.5vw;
        grid-template-rows: 5vh 3vh 1vh;
        grid-template-areas:
    "t1 text text text text text text text t10"
    "m1 twitter m3 facebook m5 youtube m8 instagram m10"
    "b1 b2 b3 b4 b5 b7 b8 b9 b10";
    }
    .socialText{
        font-size: 1vw;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em) {
    .footer{
        height: 15vh;
    }
    .socials{
        display: grid;
        grid-template-columns: 36.5vw 7vw 1vw 7vw 1vw 7vw 1vw 7vw 36.5vw;
        grid-template-rows: 5vh 3vh 1vh;
        grid-template-areas:
    "t1 text text text text text text text t10"
    "m1 twitter m3 facebook m5 youtube m8 instagram m10"
    "b1 b2 b3 b4 b5 b7 b8 b9 b10";
    }
    .socialText{
        font-size: 2vw;
    }
    .socials img{
        transform: scale(0.8, 0.8);
    }
    .icon:hover{
        transform: scale(1, 1);
    }
}
@media screen and  (max-width: 40em) {
    .footer{
        height: 10vh;
    }
    .socialText{
        font-size: 3vw;
    }
}