.footer {
    background-color: #a98c6a;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
}
.socials{
    display: grid;
    grid-template-columns: 42.5vw 3vw 1vw 3vw 0.5vw 0.5vw 3vw 1vw 3vw 42.5vw;
    grid-template-rows: 5vh 3vh 1vh;
    grid-template-areas:
    "text text text text text text text text text text"
    "m1 twitter m3 facebook m5 m6 youtube m8 instagram m10"
    "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10";
}
.socialText{
    grid-area: text;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.twitter{
    grid-area: twitter;
}
.facebook{
    grid-area: facebook;
}
.youtube{
    grid-area: youtube;
}
.instagram{
    grid-area: instagram;
}
.icon{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.icon:hover{
    width:55%;
}