.header{
    background-color: #a98c6a;
}
.logoImgContainer{
    grid-area: logo;
    display: block;
    margin: auto;
}
.logoImg{
    padding: 20px;
    width: 90%;
}
.navBar{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2vw;
    font-weight: bold;
    grid-area: text;
}
.navLink{
    padding-right: 2vw;
    text-decoration: none;
    color: black;
}
.navLink:hover{
    color: white;
}
.navMenu{
    padding: 1vh;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: -0.5vh;
}
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover {
    background-color: #f1f1f1;
}
.navDropdown:hover .dropdownContent {
    display: block;
    text-align: center;
}


/*		 		Fullscreen			 */
@media screen and (min-width: 59em) {
    .header{
        display: grid;
        grid-template-columns: 33vw 34vw 33vw;
        grid-template-rows: 20vh 4vh;
        grid-template-areas:
    "m1 logo m3"
    "b1 text b3";
    }
    .navDropdown{
        display: none;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em){
    .navBar{
        display: none;
    }
    .logoImg{
        display: none;
    }
    .navDropdown{
        position: relative;
        display: inline-block;
        height: 7vh;
    }
}