.header{
    background-color: #a98c6a;
}
.logoImg{
    padding: 20px;
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.navBar{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2vw;
    font-weight: bold;
}
.navLink{
    padding-right: 2vw;
    text-decoration: none;
    color: black;
}
.navLink:hover{
    color: white;
}