.report{
    display: flex;
    margin: auto;
}
.reportContent{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reportBanner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: fit-content;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.reportBanner p{
    margin: 0 12vw 0 12vw;
}
.good{
    background-color: forestgreen;
}
.warning{
    background-color: orange;
}
.alertClose{
    position: fixed;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.reportForm{
    margin: auto;
    text-align: center;
    border: #666235 solid 3px;
    border-radius: 10px;
}
fieldset{
    border: none;
}
input, textarea, select{
    width: 100%;
    min-height: 2vh;
}
textarea{
    min-height: 10vh;
}
.submit{
    width: 30%;
    margin-bottom: 10px;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .report{
        min-height: 76vh;
    }
    .reportForm{
        width: 60vw;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .report{
        min-height: 82vh;
    }
    .reportForm{
        width: 90vw;
    }
}