.report{
    display: flex;
    margin: auto;
}
.reportContent{
    margin: auto;
}
.reportForm{
    width: 80vw;
    margin: auto;
    text-align: center;
    border: #666235 solid 3px;
    border-radius: 10px;
}
fieldset{
    border: none;
}
input, textarea, select{
    width: 100%;
    min-height: 2vh;
}
textarea{
    min-height: 10vh;
}
.submit{
    width: 30%;
    margin-bottom: 10px;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .report{
        min-height: 76vh;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .report{
        min-height: 82vh;
    }
}