.sightings{

}
.sightingsContent{
    padding-top: 4vh;
}
.map{
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    border: 1px solid #666235;
    border-radius: 5px;
}
#sightingsTable {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

#sightingsTable td, #sightingsTable th {
    border: 1px solid #666235;
    padding: 8px;
}

#sightingsTable tr:nth-child(even){background-color: #dfcfb3;}

#sightingsTable tr:hover {background-color: #ddd;}

#sightingsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #836D54;
    color: white;
}
.loadingContainer{
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .sightings{
        min-height: 76vh;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .sightings{
        min-height: 80vh;
    }
}