.sightings{

}
.sightingsContent{

}
.loadingContainer{
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {
    .sightings{
        min-height: 76vh;
    }
}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {
    .sightings{
        min-height: 80vh;
    }
}